# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Scientist
- Common Libraries
- Data Science Tools
- Arithmatic Expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. scikit_learn
2. Pandas
3. PyTorch
4. Numpy

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python
- / for divide
- ** for exponential

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4) + 5

17

This will convert 200 minutes to hours by diving by 60.

In [5]:
200/60

3.3333333333333335

## Author
Aman Virani